.mood, .happy, .sad, .angry, .zen {
  background-color: #6df36f;
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  padding: 0.4rem 1rem;
  display: inline-block;
  margin-inline: 1rem;
  border: 2px solid black;
  border-radius: 0px;
  box-shadow: -6px -6px 0px #000;
  transition: 0.3s ease-in; }
  .mood:hover, .happy:hover, .sad:hover, .angry:hover, .zen:hover {
    translate: -6px -6px;
    box-shadow: 0 0 0 #000; }

.happy {
  background-color: #f3d26d; }

.sad {
  background-color: #5c8ce6; }

.angry {
  background-color: #e17878; }

.zen {
  background-color: #f27adc; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100vw;
  overflow-x: hidden;
  font-family: Helvetica, Arial, sans-serif;
  transition: 1000ms ease-in-out; }
  body.darkMode {
    background-color: #222;
    color: #fff; }

h1 {
  font-weight: 100;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
  margin-top: 2rem; }

main {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  transition: 1000ms ease-in-out; }
  main.darkMode {
    background-color: #222;
    color: #fff; }

@media (min-width: 600px) {
  main {
    justify-content: center; } }
img.face-img {
  opacity: 0;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 10px 10px white;
  transition: opacity 0.5s ease-in; }

table {
  border-collapse: collapse;
  font-family: Helvetica, Arial, sans-serif;
  margin-bottom: 10px; }
  table thead {
    font-size: 1.2rem; }
    table thead th {
      padding: 0.4rem; }
  table tbody {
    font-size: 1rem; }
    table tbody td {
      padding: 0.6rem; }

input {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: -6px -6px 0 0 black;
  -moz-box-shadow: -6px -6px 0 0 black;
  box-shadow: -6px -6px 0 0 black;
  border: 2px solid black;
  padding: 20px;
  width: 250px;
  box-sizing: border-box;
  margin-bottom: 1rem; }

input[type="checkbox"] {
  width: 2rem;
  height: 2rem;
  margin: 0;
  cursor: pointer; }

label[for="newPlayerCheckbox"] {
  display: flex;
  align-items: center; }

label span {
  padding-left: 12px; }

#header {
  text-align: center;
  display: block;
  width: 100%;
  background-color: #45e3f4; }
  #header h1 {
    margin: 0;
    padding: 10px 0; }

#mainSection {
  height: 100%;
  width: 100%;
  transition: 1000ms ease-in-out; }

#mainContent {
  border: 2px solid black;
  padding: 1rem 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

#userLogin {
  display: block;
  position: absolute;
  bottom: 10px; }

#scoreboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%; }
  #scoreboard #scoreCount {
    margin-right: 2em; }
  #scoreboard.in-game-scoreboard {
    justify-content: flex-start;
    margin-left: 10%; }

@media (min-width: 600px) {
  #scoreboard {
    justify-content: center; }
    #scoreboard.in-game-scoreboard {
      justify-content: center; } }
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%; }
  .row::after {
    clear: both; }

.col-0 {
  width: 0%; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.btn-type-a {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: -6px -6px 0 0 grey;
  -moz-box-shadow: -6px -6px 0 0 grey;
  box-shadow: -6px -6px 0 0 grey;
  border: 2px solid grey;
  transition: 0.4s ease-in-out;
  background-color: #222;
  color: #fff;
  width: 250px;
  padding: 1em 2em;
  margin: 1em 0;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 0.1rem;
  cursor: pointer; }
  .btn-type-a:hover {
    translate: -6px -6px;
    box-shadow: 0px 0px 0px 0px black; }

.btnOption {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: -6px -6px 0 0 grey;
  -moz-box-shadow: -6px -6px 0 0 grey;
  box-shadow: -6px -6px 0 0 grey;
  border: 2px solid grey;
  padding: 0.8rem;
  background-color: #222;
  color: #fff;
  transition: 0.4s ease-in-out; }
  .btnOption.clicked {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -webkit-box-shadow: 0px 0px 0 0 grey;
    -moz-box-shadow: 0px 0px 0 0 grey;
    box-shadow: 0px 0px 0 0 grey;
    border: 2px solid grey;
    translate: -6px -6px; }
  .btnOption:nth-child(1) {
    margin-right: 10px; }

#btnMenu {
  position: absolute;
  top: 2.2rem;
  right: 1.2rem;
  /* down arrow */
  /* other */
  width: 2rem;
  height: 2rem;
  background: repeating-radial-gradient(#222 0, #222 20%, white 20%, white 40%);
  border: 2px solid transparent; }

#main-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #45e3f4;
  width: 100%;
  padding: 12px 0; }
  #main-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    #main-nav ul li {
      float: left;
      margin-left: 30px; }
      #main-nav ul li a {
        text-decoration: none;
        font-size: 22px;
        color: #eee; }
        #main-nav ul li a:hover {
          color: red; }

.block {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 10px #fff;
  -moz-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px #fff;
  border: 2px solid #333;
  position: relative;
  width: 22%;
  padding: 10px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  overflow: hidden; }
  .block .blockArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 105%;
    height: 105%;
    background: transparent;
    border-radius: 50px; }

.menu {
  position: absolute;
  top: 0;
  left: 100vw;
  display: block;
  transition: left 500ms ease-out; }
  .menu #menuBg {
    position: relative;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    width: 100vw;
    height: 100vh;
    transition: background 500ms ease-out; }
  .menu .menu-btns {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: white;
    padding: 2em;
    height: fit-content;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -webkit-box-shadow: -6px -6px 0 0 grey;
    -moz-box-shadow: -6px -6px 0 0 grey;
    box-shadow: -6px -6px 0 0 grey;
    border: 2px solid grey;
    margin: 1rem; }

/*# sourceMappingURL=app.css.map */
